.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar_wrapper a {
  padding-left: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.labelsStyle{
  font-size: 23px;
 text-align: start;
}

.unselectedLink{
  color: rgb(194, 188, 188) !important;
}

.centerSpinner {
  position: absolute;
    top: 47%;
    left: 47%;
}

.error{
  color: red;
}

.bg-white{
  background-color: white;
}


@media print {
  .hide-on-print{
    display: none !important;
    }
}


